.control-box {
  height: 400px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;

  .file-block {
    padding: 10px;
    width: 240px;
    border-radius: 8px;
    border-color: rgb(202, 101, 5);
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    span {
      margin-bottom: 10px;
    }
    input {
      margin-left: 20px;
    }
  }
  .field {
    margin: 10px;
  }
  .num {
    input {
      max-width: 40px;
    }
  }
  textarea {
    margin-top: 40px;
    width: 200px;
    height: 80px;
  }
}
