.control-form {
  background-color: #a5b2a8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  flex-grow: 1;
  button {
    border-radius: 8px;
    background-color: white;
  }
  .file-block {
    margin-top: 10px;
    overflow: hidden;
    border-radius: 8px;
    border-color: #775b41;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 100px;
    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      background-color: white;
    }
    // span {
    //   margin-bottom: 10px;
    //   font-weight: 700;
    //   text-decoration: underline;
    // }
    // input {
    //   margin-left: 30px;
    // }
  }
  .field {
    margin: 5px;
    span {
      margin-left: 10px;
    }
    input,
    select {
      font-family: inherit;
      margin-left: 20px;
      border-radius: 4px;
      border-style: solid;
    }
  }
  .num {
    input {
      max-width: 40px;
    }
  }
  .color-btn {
    border-radius: 50%;
    padding: 2px;
    height: 20px;
    width: 20px;
    margin: 5px;
    border-style: solid;
  }
  textarea {
    padding: 6px;
    resize: none;
    border-radius: 8px;
    text-align: right;
    font-family: inherit;
    margin-top: 40px;
    width: 200px;
    height: 80px;
  }
}

@media only screen and (min-width: 650px) {
  .control-form {
    height: 100%;
    width: 250px;
    font-size: 16px;
    flex-direction: column;
    .file-block {
      margin-bottom: 20px;
      width: 90%;
    }
    .field {
      margin: 10px;
    }
  }
}
