.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .order-list {
    background-color: #dbebfa;
    border-radius: 30px;
    border-width: 2.6px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 98vw;
    max-width: 625px;
    padding: 25px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  .add-order {
    margin-top: 2vh;
    text-decoration: underline;
  }
}
