.home {
  padding-bottom: 0;
  padding-top: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Varela Round", sans-serif;
  .order-editor {
    border-radius: 30px;
    border-width: 3.6px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 125vh;
    width: 98vw;
  }
}
@media only screen and (min-width: 450px) {
  .home {
    .order-editor {
      width: 95vw;
      max-width: 480px;
    }
  }
}

@media only screen and (min-width: 650px) {
  .home {
    .order-editor {
      flex-direction: row;
      height: 80vh;
      width: 95vw;
      max-width: 850px;
    }
  }
}
