.order-edit {
  background-image: url("https://res.cloudinary.com/dc6ailej1/image/upload/v1648776217/rocco-caruso-h4jXGhm8wuA-unsplash_j6hcef.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  display: flex;
  font-family: "Amatic SC", cursive;
  .order-editor {
    align-self: center;
    -webkit-box-shadow: 0px 0px 20px 3px #bdbcbc;
    box-shadow: 0px 5px 20px 0px #bdbcbc;
    border-radius: 30px;
    border-width: 2.6px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 125vh;
    width: 98vw;
    transform: rotateY(0deg);
    transition-duration: 300ms;
    transition-property: transform;
  }
  .rotated {
    transform: rotateY(180deg);
    transition-duration: 300ms;
    transition-property: transform;
    -webkit-box-shadow: -9px 14px 25px -4px #000000;
    box-shadow: -9px 14px 25px -4px #000000;
  }
}
@media only screen and (min-width: 450px) {
  .order-edit {
    .order-editor {
      width: 68vw;
      max-width: 480px;
    }
  }
}

@media only screen and (min-width: 650px) {
  .order-edit {
    .order-editor {
      flex-direction: row;
      height: 80vh;
      width: 95vw;
      max-width: 850px;
    }
  }
}
