.order-edit {
  background-image: url("https://res.cloudinary.com/dc6ailej1/image/upload/v1648776217/rocco-caruso-h4jXGhm8wuA-unsplash_j6hcef.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  display: flex;
  font-family: "Amatic SC", cursive;
  padding-top: 2.5vh;
  .order-editor {
    -webkit-box-shadow: 0px 0px 20px 3px #bdbcbc;
    box-shadow: 0px 5px 20px 0px #bdbcbc;
    border-radius: 30px;
    border-width: 2.6px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 85vh;
    transform: rotateY(0deg);
    transition-duration: 300ms;
    transition-property: transform;
  }
  .rotated {
    transform: rotateY(180deg);
    transition-duration: 300ms;
    transition-property: transform;
  }
}

@media only screen and (min-width: 650px) {
  .order-edit {
    .order-editor {
      flex-direction: column;
      height: 80vh;
      .desktop-control-box {
        background-color: aliceblue;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid black;
        height: 8%;
        // transform: rotateY(0deg);
      }
    }
  }
}
