.print-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 3px;
  align-items: center;
  height: 115px;
  justify-content: space-between;
  .print-title {
    margin-bottom: 3px;
  }
}

.empty-print-details {
  justify-content: initial;
  span {
    margin-top: 20%;
  }
}
