input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.control-form {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 16px;
  background-color: #dbebfa;
  display: flex;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  transform: rotateY(0deg);
  .form-inputs {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
  }
  input,
  select {
    margin-right: 10px;
    background-color: #e4e184;
    font-family: "Varela Round", sans-serif;
    font-size: 16;
    font-weight: 500;
    border-radius: 4px;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    option {
      background-color: #e4e184;
    }
    &:hover {
      background-color: #aca95e;
    }
  }
  .form-nav {
    height: 10%;
    width: 92%;
    align-items: center;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    .edit-nav-btn {
      background-color: #ffffce;
      border: 2px solid black;
      border-radius: 8px;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      font-family: "Varela Round", sans-serif;
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

textarea {
  padding: 6px;
  resize: none;
  border-radius: 8px;
  text-align: right;
  font-family: "Varela Round", sans-serif;
  margin-top: 10px;
  width: 200px;
  height: 80px;
  background-color: #f2f1cd;
  &:hover {
    background-color: #aca95e;
  }
  &:focus {
    background-color: #aca95e;
  }
}

.form-y-rotate {
  transform: rotateY(180deg);
  border-right-color: #775b41;
  border-right-width: 4px;
  border-right-style: solid;
  border-left-width: 0;
}

@media only screen and (min-width: 680px) {
  .control-form {
    border-left-color: #775b41;
    border-left-width: 4px;
    border-left-style: solid;
    height: 100%;
    width: 250px;
    flex-grow: 1;
    font-size: 23px;
    flex-direction: column;
    .file-block {
      margin-bottom: 35px;
      width: 200px;
    }
  }

  .form-y-rotate {
    transform: rotateY(180deg);
    border-right-color: #775b41;
    border-right-width: 4px;
    border-right-style: solid;
    border-left-width: 0;
  }
}
