.items-edit {
  align-self: baseline;
  transform: translateX(0);
  background-color: aliceblue;
  box-shadow: 0px 5px 20px 0px #bdbcbc;
  padding: 16px;
  border-radius: 30px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  width: 530px;
  h2 {
    margin: 0;
    margin-bottom: 7px;
  }
  .selected {
    border-width: 5px;
  }
  label {
    font-weight: 600;
  }
  .add {
    border-radius: 8px;
    width: 30px;
    padding-top: 5px;
    background-color: white;
    margin-left: 87%;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      filter: brightness(80%);
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    button {
      background-color: #ffffce;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}
