.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #d5dde4;
  label {
    display: flex;
    font-weight: 600;
    align-items: center;
    span {
      font-size: 20px;
    }
    select,
    input {
      cursor: pointer;
      margin: 10px;
      max-width: 80px;
      &:hover {
        filter: brightness(90%);
      }
    }
    .num {
      width: 30px;
    }
  }
  .remove {
    margin-left: 10px;
    background-color: #d72c2c;
    color: #ebebeb;
  }
  button {
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      filter: brightness(80%);
    }
  }
}
